## 2. Tải và đánh giá kích thước tập dữ liệu

In [1]:
# Tải tập dữ liệu Ames
import pandas as pd
Ames = pd.read_csv('../data/Ames.csv')
# Kiểm tra kích thước tập dữ liệu
print(Ames.shape)
rows, columns = Ames.shape
print(f"Tập dữ liệu bao gồm {rows} bất động sản được mô tả qua {columns} thuộc tính.")

(2579, 85)
Tập dữ liệu bao gồm 2579 bất động sản được mô tả qua 85 thuộc tính.

In [2]:
Ames.head(5)

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,GeoRefNo,Prop_Addr,Latitude,Longitude
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,NaN,0,3,2010,WD,Normal,909176150.0,436 HAYWARD AVE,42.018564,-93.651619
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,NaN,0,2,2009,WD,Normal,905476230.0,3416 WEST ST,42.024855,-93.663671
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,NaN,0,11,2007,WD,Normal,911128020.0,320 S 2ND ST,42.021548,-93.614068
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,NaN,0,5,2009,WD,Normal,535377150.0,1524 DOUGLAS AVE,42.037391,-93.612207
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,NaN,0,11,2009,WD,Normal,534177230.0,2304 FILLMORE AVE,42.044554,-93.631818

In [3]:
Ames.tail()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,GeoRefNo,Prop_Addr,Latitude,Longitude
2574,903205040,952,121000,30,RL,NaN,8854,Pave,NaN,Reg,...,NaN,0,5,2009,WD,Normal,903205040.0,1021 RIDGEWOOD AVE,42.032102,-93.626373
2575,905402060,1733,139600,20,RL,NaN,13680,Pave,NaN,IR1,...,NaN,0,6,2009,WD,Normal,905402060.0,3619 MARY CIR,42.027669,-93.666138
2576,909275030,2002,145000,90,RH,82.0,6270,Pave,NaN,Reg,...,NaN,0,8,2007,WD,Normal,909275030.0,2140 SUNSET DR 2142,NaN,NaN
2577,907192040,1842,217500,60,RL,NaN,8826,Pave,NaN,Reg,...,NaN,0,7,2007,WD,Normal,907192040.0,5319 CLEMENS BLVD,42.016802,-93.689748
2578,906223180,1911,215000,60,RL,80.0,9554,Pave,NaN,IR1,...,NaN,0,9,2006,WD,Normal,906223180.0,1025 VERMONT CT,42.030997,-93.682220

In [4]:
# Xác định kiểu dữ liệu của từng thuộc tính
data_types = Ames.dtypes
# Đếm số lượng kiểu dữ liệu
type_counts = data_types.value_counts()
print(type_counts)

object     44
int64      27
float64    14
Name: count, dtype: int64

<pre>
Từ kết quả trên, chúng ta có:
• 44 biến dạng object (chuỗi ký tự), thường đại diện cho các biến danh mục (categorical variables) như
loại nhà, khu phố, điều kiện bán,...
• 27 biến dạng int64 (số nguyên), có thể là các biến định lượng như năm xây dựng, số phòng ngủ, số
nhà vệ sinh.
• 14 biến dạng float64 (số thực), có thể là diện tích đất, diện tích nhà, giá bán,...
</pre>

## Kết thúc